{%extends 'baza.html' %}

{% block content%}

	<h> Sklep z akcesoriami do komputerów. Monitory, myszki, klawiatury etc.</h>

	<p> Najlepsze ceny w mieście </p> 
<p>
{{data}},{{liczba}}
{{kody}}
</p>

<ul>
{% for Element in kody %}
	{% if Element > 15 %}
		<h> Poniższa liczba jest większa od 15 </h>
		<li> {{ forloop.counter }} -- {{Element}} </li>
	{% else %}
		<h> Poniższa liczba jest mniejsza od 15  </h>
		<li> {{ forloop.counter }} -- {{Element}} </li>

	{% endif %}
	
{% endfor %}
</ul>

{%endblock %}
